
###############
#    folder   #
###############
.idea/
.vs/
.tmp
typings
obj
bin


###############
#     file    #
###############
*.lib
*.cache
*.user
*.suo
*.dotCover
*.ncrunchproject
*.ncrnchsolution
*.db

